
#homeVideo {    
    position:fixed; 
    height: 100%;
    width: 100%;
    top:0;  
    left:0;  
    right:0;  
    bottom:0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #homeVideo {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #homeVideo { 
        width:auto;
        height: 100%;
    }
}
